* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      }



section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#444,#111);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

section img {
    width: 120px;
    height: 120px;

}

section h2 {
    position: absolute;
    font-size: 8em;
    color: white;
    text-transform: uppercase;
    z-index: 20;
}

section .set {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    pointer-events: none;
}

section .set div {
    position: absolute;
    display: block;
}

section .set div:nth-child(1) {
  left: 20%;
  rotate: 30deg;
  animation: animate 15s linear infinite;
  z-index: 10;
  animation-delay:-10s ;

}

section .set div:nth-child(2) {
    left: 65%;
    transform: rotate(30deg);
    animation: animate 15s linear infinite;
    z-index: 10;
    animation-delay:-8.66s ;
  
  }

  section .set div:nth-child(3) {
    rotate: 70deg;
    left: 80%;
    animation: animate 15s linear infinite;
    z-index: 10;
    animation-delay:-7s ;
  
  }

  section .set div:nth-child(4) {
    rotate: 180deg;
    left: 40%;
    animation: animate 15s linear infinite;
    z-index: 10;
    animation-delay:-5.5s ;
  
  }
  
  section .set div:nth-child(5) {
      left: 70%;
      animation: animate 15s linear infinite;
      z-index: 10;
      animation-delay: -3.8s ;
    
    }
  
    section .set div:nth-child(6) {
      left: 10%;
      animation: animate 15s linear infinite;
      z-index: 10;
      animation-delay: -2.4s ;
    
    }

    section .set div:nth-child(7) {
        right: 10%;
        animation: animate 15s linear infinite;
        z-index: 10;
        animation-delay:-18s ;
      
      }
      
      section .set div:nth-child(8) {
          right: 65%;
          animation: animate 15s linear infinite;
          z-index: 10;
          animation-delay:-18.66s ;
        
        }
      
        section .set div:nth-child(9) {
          right: 20%;
          animation: animate 15s linear infinite;
          z-index: 10;
          animation-delay:-16s ;
        
        }
      
        section .set div:nth-child(10) {
          right: 40%;
          animation: animate 15s linear infinite;
          z-index: 10;
          animation-delay:-15.5s ;
        
        }
        
        section .set div:nth-child(11) {
            right: 70%;
            animation: animate 15s linear infinite;
            z-index: 10;
            animation-delay: -13.8s ;
          
          }
        
          section .set div:nth-child(12) {
            right: 10%;
            animation: animate 15s linear infinite;
            z-index: 10;
            animation-delay: -11.4s ;
          
          }




    @keyframes animate {

        0% {
            opacity: 0;
            top: -10%;
            transform: translateX(20px) rotate(0deg);
        }
    
        10% {
            opacity: 1;
        }
    
        20% {
            transform: translateX(-20px) rotate(45deg);
        }
    
        40% {
            transform: translateX(-20px) rotate(90deg);
        }
    
        60% {
            transform: translateX(20px) rotate(180deg);
        }
    
        80% { opacity: 0.5;
            transform: translateX(-20px) rotate(225deg);
        }
    
        100% {  
            top: 110%;
            transform: translateX(-20px) rotate(270deg);
        }
    }

    .btn {
        margin-top: 550px;
        z-index: 500;
    }


    a{
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #934A5F ;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 30px;
        overflow: hidden;
        transition: 0.2s;
    }
    
    a:hover {
        color: #fff;
        background-color: #934A5F ;
        box-shadow: 0 0 10px #934A5F ,
         0 0 40px #934A5F ,
        0 0 80px #934A5F ;
        transition-delay: 1s;
    }
    
    a span {
        position: absolute;
        display: block;
    }
    
    /* A1*/
    
    a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#934A5F );
    }


    a:hover span:nth-child(1){
        left: 100%;
        transition: 1s;
    }
    
    /* A2 */
    
    a span:nth-child(2) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#934A5F );
    }
    
    a:hover span:nth-child(2){
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    
    /* B1 */
    
    a span:nth-child(3) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#934A5F );
    }
    
    a:hover span:nth-child(3){
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    
    /* B2 */
    
    a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#934A5F );
    }
    
    a:hover span:nth-child(4){
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }


    /* Game */

    #all{
        position: relative;
        width: 100%;
        height: 100vh;
        background: radial-gradient(#444,#111);
        overflow: hidden;
    }
    
    /* .popup {
        position: relative;
        width: 60%;
        height: 90vh;
        margin-left: 20%;
        top: 5vh;
        background-color: #444;
        opacity: 0.7;
    }

    .popup_text {
        position: absolute;
        top: 50px;
        width: 30%;
        height: 20vh;
    }

    #popup_btn {
        position: absolute;
        top: -300px;
        left: 40%;
        opacity: 1;
    } */

    .container {
        text-align: center;
        }

    
    
table {
    background: #934A5F;
    background-blend-mode: hard-light;
    border-radius: 10px;
    border: 20px solid radial-gradient(#934A5F,#934A5F,#934A5F,#934A5F,#fff);
    /* background-color: #934A5F; */
    position: absolute;
    box-shadow: 0 0 10px #934A5F ,
         0 10px 50px #934A5F ,
        0 0 100px #934A5F ;
}

#main_t {
    left: 23.2%;
    top: 30px;
}

#konacno_tabela{
    top: 550px;
    left: 500px;
    background: #934A5F;
}

form {
    position: absolute;
    top: 650px;
    left: 26.2%;
}

td {
    border-radius: 20px;
    width: 70px;
    height: 70px;
    border: 2px solid #934A5F ;
    background-color: white;
    position: relative;
}

.ispis {
    background-color: white;
}

.space {
    background-color: #934A5F ;
    width: 120px;
}

.crveno {
    background-color: red;
    border-radius: 20px;
    border: 2px solid black;
}

.zuto {
    background-color: yellow;
    border-radius: 20px;
    border: 2px solid black;
}


.container {
    margin-top: 20px;
}

.odb {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    transition: transform 250ms ease-in-out;
}


.odabir {
    width: 80px;
    height: 80px;
    text-align: center;
    
}

.odabir:hover, .odabir:focus {
    transform: scale(1.3);
}

.simbol {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    text-align: center;
}

#konacno_tabela {
    background:#934A5F ;
    margin-top: 10px;
    opacity: 0.9;
}

.choose-elements {
    background: radial-gradient(#fff,#333);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #934A5F ,
         0 0 40px #934A5F ,
        0 0 80px #934A5F ;
}


.btn-game {
    border: 1px solid #FF5733 ;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    color: #fff;
    background-color: #FF5733 ;
   
}

.btn-game:hover {

    transition: 0.9s;
    transform: scale(1.1);
}

.btn-game:active {
    border: 1px solid #FF5733 ;
    transition: 0.9s;
    transform: scale(1.1);
}
